@font-face {
  font-family: space;
  src: url(./SFAlienEncounters.ttf);
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  color: white;
  font-size: 74px;
  font-family: space;
  margin: 0;
}

.title {
  position: fixed;
  bottom: 34%;
  left: 16%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.planets {
  background-color: black;
}

/* .display-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  margin: 0;
  text-align: center;
}

.images{
  margin: 10px 60px 100px;
} */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.display-images {
  background: #EEE;
}

.display-images img {
  display: block;
  /* height: 200px; */
}

/* @media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
} */