/*general styling*/

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.landing,
.landing-button,
.space-title,
.heading-planets,
.close,
.space-subheading {
  font-family: "Orbitron", sans-serif;
}