/*general styling*/

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.landing,
.landing-button,
.space-title,
.heading-planets,
.close,
.space-subheading,
.type,
.space-text {
  font-family: "Orbitron", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

button:hover{
  background-color:#192841;
  color:white;
}

button:focus{
  background-color:#192841;
  color:white;
  border: 2px white solid;
}

a{
  display: inline-block;
}

a:focus{
  border: 1px solid white;
}

.space-title,
.space-subheading{
  background-color: rgba(0, 0, 0, 0.3);
}

.planets,
.overlay,
.zoom-overlay{
  background-color: rgba(0, 0, 0, 0.5);
}
