/*media queries*/
@media (max-width: 881px) {
  .space-title {
    margin-top: 35px;
  }

  .button-container {
    top: 63%;
  }

  .planet-img {
    width: 120px;
    transition: all 0.5s;
  }

  .saturn{
    width: 144px;
    transition: all 0.5s;
  }

  .display-images {
    width: 96%;
    transition: all 0.5s;
  }
}

@media (max-width: 566px) {
  .landing-title {
    font-size: 3rem;
    line-height: 51px;
  }
  .button-container {
    top: 54%;
  }
  .space-title {
    font-size: 2.7rem;
    transition: all 0.5s;
  }

  .planet-name {
    font-size: 1.3rem;
    transition: all 0.5s;
  }

  .footer {
    font-size: 9px;
    transition: all 0.5s;
  }
    .close {
    margin-top: -131px;
    transition: all 0.5s;
  }
  .overlay{
    left:38%
  }
}

@media (max-width: 453px){
  .space-subheading {
    font-size: 2.9rem;
    padding-bottom:8px;
    transition: all 0.5s;
  }
}


@media (max-width: 402px) {
  .display-images {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 93%;
    margin-top: -18px;
    transition: all 0.5s;
  }
  .close {
    margin: -97px 0 0 2px;
    transition: all 0.5s;
  }
  .landing {
    height: 90vh;
  }
  .planet-img{
    animation: rotate 90s linear infinite;
  }

  .saturn {
    animation: rotateTwo 90s linear infinite;
  }

  .landing-title{
    top : 37%;
  }
  .button-container {
    top: 54%;
  }

  .overlay{
    left:28%;
    top:48%;
  }
}

@media (max-width: 367px) {
  .planet-name {
    font-size: 1.3rem;
    transition: all 0.5s;
  }

  .space-title {
    font-size: 2rem;
    transition: all 0.5s;
  }
}

@media (max-width: 340px) {

  .space-subheading{
    font-size:2.5rem;
  }

  .space-text{
    font-size:0.9rem
  }
  .landing-title {
    font-size: 2.4rem;
    line-height: 42px;
    transition: all 0.5s;
  }

  .landing-button {
    margin-top: 16px;
    transition: all 0.5s;
  }
}