/*planets section*/
.type{
  display: inherit;
  font-size:1.2rem;
}
.type,
.space-text{
  color:white;
  text-align: center;
  padding-top:10px;
  letter-spacing: 2px;
  background-color: rgba(0,0,0, 0.4);
}

.space-text{
  font-size: 1rem;

}

.section2 {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  height: 96vh;
}

.space-title {
  color: white;
  font-size: 3.2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding-bottom: 10px;
}
.planet-img {
  width: 130px;
  animation: rotate 50s linear infinite;
  margin: 8px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.planet-name {
  text-decoration: none;
  color: white;
  font-family: "Righteous", cursive;
  text-align: center;
  display: block;
  margin-bottom: 25px;
  margin-top: 10px;
}

.planets {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  padding-bottom: 0;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.saturn{
  width: 155px;
  animation: rotateTwo 50s linear infinite;
}

@keyframes rotateTwo {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(30deg);
  }

  50%{
    transform: rotate(-20deg);
  }

  70%{
    transform: rotate(50deg)
  }

  85%{
    transform: rotate(0deg)
  }

  100%{
    transform: rotate(15deg)
  }

}